<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - ShildTec</title>
</head>
<body>
    <div class="container">
        <h1>Entre em Contato</h1>
        <address>
            <p>Endereço: 123 Rua Principal, Cidade, Estado, CEP: 12345-678</p>
            <p>Telefone: (12) 3456-7890</p>
            <p>E-mail: contato@exemplo.com</p>
        </address>
       
    </div>
</body>
</html>
